body,ul,p,h1,h2,h3,h4,h5,h6,dl,dd,form,input,textarea,select { padding:0; margin:0; font-family:arial; }
li { list-style:none; }
img { border:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }

.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }



#warp{background: #ebf1f1;padding:28px}


/*title样式*/
.title{width: 90%;margin: 0 auto;}
.title h3{font-size:27px;display: inline-block;font-weight: 700;}
.title span{font-size:18px;background: #fc9b26;color: #fff;float: right;padding: 6px 10px;border-radius: 6px;}


/*content样式*/
.content{display: flex}
.seller{flex:1;position: relative;background: #fff;padding: 12px 10px; width: 420px; margin-top: 20px; border-radius: 6px;z-index: 100;margin-left: 20px;}
.seller:first-of-type{margin-left:0;}
.seller h3,.seller p{text-align: center;}
.seller h3{font-size: 22px;}
.seller h3 span{color: #f8963b;}
.seller p{font-size: 14px;line-height: 20px;margin-bottom: 10px;}
.seller ul{font-size: 14px;}
.seller li{width: 90%;margin:0 auto;height: 24px;display: flex;position: relative}
.seller li .line{font-size:12px;height:12px;border-bottom: dashed 1px #ccc;flex: 1;}
.seller li span{display: inline-block}
.seller li .name,.seller li .money{line-height: 24px;}
.seller h6{text-align: center;margin: 8px;}
.list{display: flex;font-size: 14px;height: 22px;line-height: 22px;}
.list span{flex:1;text-align: center;}


.top-arrow{position: absolute;left:50%;}
